
<h1><%= @movie.title %></h1>
<h2>Here is all you need to know about this movie!</h2>

<h3>Director:<h3>
<p><%= @movie.director %></p>

<h3>Actors:<h3>
<p><%= @movie.actors %></p>

<h3>Summary:<h3>
<p><%= @movie.summary%></p>

<%= link_to "Return to homepage", root_path %>
<%= link_to "Add #{@movie.title} to my wishlist",  new_like_path(@movie.id) %>
